# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# other
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# VS Code settings
.settings/

!photos/
